* {
    font-family: Garamond, serif;
    font-weight: bolder;
}

body {
    background-color: #919090;
}

a {
    text-decoration: none;
    text-decoration: underline;
    color: rgb(35, 54, 54);
    font-size: xx-large;
    padding: 1px;
    margin: 20px;
    background-color: green;
}

a:hover {
    color: black;
}


.header-row {
    display: grid;
}

#header-row-one {
    display: grid;
    grid-template-columns: 50% 50%;
}

.image-row {
    display: grid;
}

.name {
    display: grid;
    grid-column: 1;
    margin: 20px;
    background-color: blue;
}

.navbar {
    display: grid;
    grid-column: 2;
    justify-content: right;
    align-content: center;
}

.social {
    display: grid;
    justify-content: space-evenly;
    align-content: center;
    grid-template-columns: 30% 30% 30%;
    margin: 40px;
}

.body-row {
    display: grid;
    grid-template-columns: 15% 85%;
}

#header-image {
    background-image: url(../images/header-image2.jpg);
    background-size: cover;
    height: 175px;
    background-position: center;
    filter: blur(1.5px);
}

.project .row-one {
    display: grid;
    grid-row-gap: 20%;
    column-gap: 2%;
    margin-bottom: 10px;
}

.project .row-two {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 6%;
}

.project-box {
    width: 80%;
    height: 300px;
    background-color: blueviolet;
    display: grid;
    align-content: flex-end;
    justify-content: flex-start;
}

.project-title {
    text-decoration: none;
    margin-bottom: 5px;
}

.project .prominent-project {
    height: 600px;
    width: 90%;
}

#one, #three, #five {
    border-right: 3px solid black;
    margin: 10px;
    display: grid;
    align-content: baseline;
    padding-inline: 2px;
    justify-content: flex-end;
}
